body{
	background: #CCE6FF;
	
}
header{
	width: 55,10771369006254%;
	height: auto;
	background-position: 50% 36%;
	background-image: url(../images/back.jpg);
	overflow: hidden;
	border:1px solid black;
}
ul{
	list-style-type: none;
 	margin-left: 0;
 	width: auto;
 	overflow: hidden;
 	background-image:url(images/back.jpg);
 	border:1px solid black;
}
li{
	display: inline;
    width: 10.78636047320807%;
    font-family: 'Philosopher', serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.CompanyLogo{
	width: 8.96455872133426%;
    height: auto;
    max-width: 100%;
    margin-left: 15.379213%;
    margin-top: 2.42382%;
    margin-bottom: 1.63265306122449%;
    float: left;
}
.SupportLogo{
	width: 8.96455872133426%;
	height: auto;
}
.Numbers{
	font-family: 'Philosopher', serif;
	width: 20,01389854065323%;
    font-size: 1.500vw;
    text-align: center;
    color: #FFFFFF;
    float: right;
    margin: 0px;
    margin-right: 8.313%;
    padding-top: 0.25%;
    padding-bottom: 1.438%;
}
}
.DownPanel{
	position: absolute;
	width: 1439px;
	height: 84px;
	left: 0px;
	top: 940px;
	background: url(../images/back.jpg), #C4C4C4;
	border: 1px solid #000000;
	box-sizing: border-box;
}
.TallinnImg{
	position: absolute;
	width: 453px;
	height: 231px;
	left: 19px;
	top: 271px;
	border-radius: 5px;
}
.BerlImg{
	position: absolute;
	width: 454px;
	height: 229px;
	left: 493px;
	top: 271px;
	border-radius: 5px;
}
.CopenImg{
	position: absolute;
	width: 453px;
	height: 231px;
	left: 967px;
	top: 271px;
	border-radius: 5px;
}
.MidPanel1{
	position: absolute;
	width: 453px;
	height: 44px;
	left: 19px;
	top: 507px;
	background: url(../images/back.jpg), #C4C4C4;
	border-radius: 5px;
	font-family: Reem Kufi;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: normal;
	color: #FFFFFF;
	text-align: center;
}
.MidPanel2{
	position: absolute;
	width: 453px;
	height: 44px;
	left: 494px;
	top: 506px;
	background: url(../images/back.jpg), #C4C4C4;
	border-radius: 5px;
	font-family: Reem Kufi;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: normal;
	color: #FFFFFF;
	text-align: center;
}
.MidPanel3{
	position: absolute;
	width: 453px;
	height: 44px;
	left: 967px;
	top: 506px;
	background: url(../images/back.jpg), #C4C4C4;
	border-radius: 5px;
	font-family: Reem Kufi;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: normal;
	color: #FFFFFF;
	text-align: center;
}
.TextBlock1{
	position: absolute;
	width: 453px;
	height: 274px;
	left: 20px;
	top: 571px;
	background: #FFFFFF;
	border-radius: 5px;
}
.TextBlock2{
	position: absolute;
	width: 453px;
	height: 274px;
	left: 495px;
	top: 569px;
	background: #FFFFFF;
	border-radius: 5px;
}
.TextBlock3{
	position: absolute;
	width: 453px;
	height: 274px;
	left: 970px;
	top: 569px;
	background: #FFFFFF;
	border-radius: 5px;
}
.BuyPanel1{
	position: absolute;
	width: 183px;
	height: 49px;
	left: 282px;
	top: 874px;
	background: url(../images/back.jpg), #C4C4C4;
	border-radius: 5px;
	font-family: Reem Kufi;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: normal;
	color: #FFFFFF;
	text-align: center;
}
.BuyPanel2{
	position: absolute;
	width: 183px;
	height: 49px;
	left: 762px;
	top: 874px;
	background: url(../images/back.jpg), #C4C4C4;
	border-radius: 5px;
	font-family: Reem Kufi;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: normal;
	color: #FFFFFF;
	text-align: center;
}
.BuyPanel3{
	position: absolute;
	width: 183px;
	height: 49px;
	left: 1248px;
	top: 874px;
	background: url(../images/back.jpg), #C4C4C4;
	border-radius: 5px;
	font-family: Reem Kufi;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: normal;
	color: #FFFFFF;
	text-align: center;
}
.Name{
	font-family: 'Philosopher', serif;
    font-size: 2.875vw;
    margin: 0px;
    color: #ffffff;
    padding-top: 1.438%;
    padding-bottom: 1.438%;
    padding-left: 1.438%;
    width: 32.35714285714286%;
    float: left;
    text-decoration: none;
}
.TallinnText{
	position: absolute;
	width: 452px;
	height: 306px;
	left: 0px;
	top: -16px;
	font-family: Reem Kufi;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	color: #000000;
	text-align: justify;
}
.BerlinText{
	position: absolute;
	width: 452px;
	height: 306px;
	left: 0px;
	top: -16px;
	font-family: Reem Kufi;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	color: #000000;
	text-align: justify;
}
.CopenhagenText{
	position: absolute;
	width: 452px;
	height: 306px;
	left: 0px;
	top: -16px;
	font-family: Reem Kufi;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	color: #000000;
	text-align: justify;
}
.Contacts{
	width: 20.2223766504517%;
	height: auto;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: auto;
	line-height: normal;
	color: #FFFFFF;
}
.CopyPTVR18{
	width: 221px;
	height: 28px;
	margin-left: 1281px;
	margin-top: 971px;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: normal;
	color: #FFFFFF;
}
