table{
	width: %;
	border: 1px solid black;
	table-layout: auto;
	background-color: #9B9A9A;
}
.planets{
	color: black;
	text-decoration: none;
}
th{
	border: 1px solid black;
	font-size: 25px;
	table-layout: auto;
	text-decoration: none;
	color: black;
}
td{
	border: 1px solid black;
	table-layout: auto;
	background-color: #C6C6C6;
	text-align:left;
	font-family: Tahoma;
	font-size:20px;
	text-align: left;
	line-height: 22px;
	vertical-align: top;
}
th{
	font-family: Cambria;
	color: black;
	text-decoration: none;
}
.merc{
	color:;
}
.Ven{
	color:blue;
}
.Ear{
	color: green;
}
.Mar{
	color:red; 
}
.A{
	background-color: #DDA8DD;
	font-style: italic;
}
.B{
	background-color: #DDA8DD;
	font-style: italic;
}
.C{
	background-color: #DDA8DD;
	font-style: italic; 
}
.D{
	background-color: #DDA8DD;
	font-style: italic;
}
.img{
	border:2px solid black;
}
.title1{
	border: 1px solid black;
	border-left: none;
	border-right: none;
}